.ask {
  position: relative;
  background-color: white;
  padding: 20px;
  margin: 40px 40px 40px 150px;
  width: 40%;
  height: 60%;
  border-radius: 30px;
  text-align: left;
}

.ask input {
  width: 400px;
  margin: 0 0 20px 0;
  border-radius: 5px;
}

.ask .content {
  height: 160px;
  width: 400px;
}

.ask .submit {
  width: 10%;
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color:aqua;
  border-radius: 10px;
}